---
layout: default
title: 我的Blog
---
<div class="container-fluid">
  <!-- 导航 -->
  <div class="row">
    <div id="nav">
      I am a rabbit to star
       <!--  <span><a href = "#">主会场</a></span>
        <span><a href = "#">食品</a></span>
        <span><a href = "#">女装</a></span>
        <span><a href = "#">男装</a></span>
        <span><a href = "#">内衣</a></span>
        <span><a href = "#">女鞋</a></span>
        <span><a href = "#">数码家电</a></span>
        <span><a href = "#">滋补保健</a></span>
        <span><a href = "#">Apple新首发</a></span> -->
    </div>
  </div>

  <!-- 热门区 -->
  <h1>热门贴</h1>

  <div class="row">
    {% for category in site.categories | sort: last.size limit:1 %}
      <div class="col-md-3">
        <div class="wrap">
         <h3>分类最多文章</br>{{category.first}} ({{ category.last.size }})</h3>   
          <ol>
            {% for posts in category%}
              {% for post in posts %}
                {% if post.url %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            {% endfor%}
          </ol> 
         <br />
        </div>
      </div>
    {% endfor %}    
  
    <div class="col-md-3">
      <div class="wrap">
       <h3>分类最多访问 (5)</h3>   
        <ul>
          <li>xxxxxxxxxxxxxx</li>
          <li>xxxxxxxxxxxxxx</li>
          <li>xxxxxxxxxxxxxx</li>
        </ul> 
       <br />
       <a href="http://www.designshock.com/"> DesignShock.com </a>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="wrap">
       <h3>分标签最多访问 (5)</h3>   
        <ul>
          <li>xxxxxxxxxxxxxx</li>
          <li>xxxxxxxxxxxxxx</li>
          <li>xxxxxxxxxxxxxx</li>
        </ul> 
       <br />
       <a href="http://www.designshock.com/"> DesignShock.com </a>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="wrap">
       <h3>分标签最多发布 (5)</h3>   
        <ul>
          <li>xxxxxxxxxxxxxx</li>
          <li>xxxxxxxxxxxxxx</li>
          <li>xxxxxxxxxxxxxx</li>
        </ul> 
       <br />
       <a href="http://www.designshock.com/"> DesignShock.com </a>
      </div>
    </div>
  </div>

  <!-- 分类区 -->
  <h1>分类贴</h1>

  {% for category in site.categories | sort: last.size %}
    <div class="col-md-3">
      <div class="wrap">
       <h3>{{category.first}} ({{ category.last.size }})</h3>   
        <ol>
          {% for posts in category%}
            {% for post in posts %}
              {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor%}
        </ol> 
       <br />
      </div>
    </div>
  {% endfor %}    
</div>


<div class="gradient"></div>