<!DOCTYPE html>
<html>
  <head>
  　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/custom.css">
     
  　<title>{{ page.title }}</title>
    <style type="text/css">
      body{
        text-align: left;
      }

      h1, h2{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container_fluid">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
          <div class="page-content">
          {{ content }}
          </div>
        </div>
      </div>
    </div>
  　　

  </body>
  <script type="text/javascript" src="{{site.url}}/assets/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/assets/js/bootstrap.min.js"></script>
</html>